<div class="position-fixed w-100 bottom-0">
  <div ...attributes class="toast-container p-3 end-0 bottom-0">
    {{#each (ebtm-array-last-n-items this.toastsManager.messagesQueue this.messagesNumberToShow) as |message|}}
      {{component
        (ensure-safe-component message.componentToRender)
        options=message.toastOptions
        onClose=(fn this.onClose message)
      }}
    {{/each}}
  </div>
</div>
{{yield}}