<div ...attributes class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
  {{#if this.showHeader}}
    <Toasts::Base::Header @options={{@options}} @onClose={{this.onClose}} />
  {{/if}}
  {{#if this.showBody}}
    <Toasts::Base::Body @options={{@options}} />
  {{/if}}
</div>